WEB SCRAPING ASSIGNMENT 4

In [175]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')

In [176]:
driver = webdriver.Chrome(r"C:\Users\adwit\Downloads\chromedriver_win32\chromedriver.exe")

-----------------------------------------------------------------------------------------------------------------------------

QUESTION 1

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [56]:
rank = []
name = []
artist = []
date = []
views = []

In [57]:
#RANK
try:
    rank_tags = driver.find_elements(By.XPATH,'//td[@align="center"]')
    for i in rank_tags[0:23:3]:
        rank.append(i.text)
    for i in rank_tags[23:24]:
        rank.append(i.text)
    for i in rank_tags[26:37:3]:
        rank.append(i.text)
    for i in rank_tags[37:71:2]:
        rank.append(i.text)
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    rank.append('No Data')
        
        
#NAME
try:
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[2]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[3]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[4]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[5]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[6]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[7]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[8]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[9]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[10]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[11]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[12]/td[2]/i/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[13]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[14]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[15]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[16]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[17]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[18]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[19]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[20]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[21]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[22]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[23]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[24]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[25]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[26]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[27]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[28]/td[2]/a")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[29]/td[2]")
    for i in name_tags:
        name.append(i.text)
    name_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[30]/td[2]")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    name.append('No Data')
    

#ARTIST
try:
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[1]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[2]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[3]/td[3]")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[4]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[5]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[6]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[7]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[8]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[9]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[10]/td[3]")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[11]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[12]/td[3]")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[13]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[14]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[15]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[16]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[17]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[18]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[19]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[20]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[21]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[22]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[23]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[24]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[25]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[26]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[27]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[28]/td[3]/a")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[29]/td[3]")
    for i in artist_tags:
        artist.append(i.text)
    artist_tags = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr[30]/td[3]")
    for i in artist_tags:
        artist.append(i.text)

except NoSuchElementException as e:
    print('Exception Raised: ',e)
    artist.append('No Data')
    

#UPLOAD DATE
try:
    date_tags = driver.find_elements(By.XPATH,'//td[@align="right"]')
    for i in date_tags[0:30]:
        date.append(i.text)
            
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    date.append('No Data')
        

#VIEWS
try:
    views_tags = driver.find_elements(By.XPATH,'//td[@align="center"]')
    for i in views_tags[1:24:3]:
        views.append(i.text)
    for i in views_tags[24:25]:
        views.append(i.text)
    for i in views_tags[27:38:3]:
        views.append(i.text)
    for i in views_tags[38:72:2]:
        views.append(i.text)
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    views.append('No Data')

In [58]:
print(len(rank),len(name),len(artist),len(date),len(views))

30 30 30 30 30

In [59]:
top_viewed_videos = pd.DataFrame({'RANK':rank,'NAME':name,'ARTIST':artist,'UPLOAD DATE':date,'VIEWS IN BILLIONS':views})
top_viewed_videos

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS IN BILLIONS
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.13
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.07
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",5.89
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.80
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.79
10,11.,Gangnam Style,Psy,"July 15, 2012",4.66
11,12.,Masha and the Bear,Get Movies,"January 31, 2012",4.52
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.21
13,14.,Sugar,Maroon 5,"January 14, 2015",3.81
14,15.,Roar,Katy Perry,"September 5, 2013",3.72
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.71
16,17.,Axel F,Crazy Frog,"June 16, 2009",3.71
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.62
18,19.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.44
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.43
22,23.,Faded,Alan Walker,"December 3, 2015",3.39
23,24.,Let Her Go,Passenger,"July 25, 2012",3.37
24,25.,Girls Like You,Maroon 5,"May 31, 2018",3.36
25,26.,Perfect,Ed Sheeran,"November 9, 2017",3.35
26,27.,Bailando,Enrique Iglesias,"April 11, 2014",3.32
27,28.,Lean On,Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.26

-------------------------------------------------------------------------------------------------------------------------------

QUESTION 2

In [63]:
driver.get("http://www.bcci.tv/")

In [65]:
view_all = driver.find_element(By.XPATH,"/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a")
view_all.click()

In [66]:
time.sleep(2)
more = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
more.click()

In [74]:
title = []
series = []
place = []
date = []
time = []

In [75]:
#TITLE
try:
    title_tags = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in title_tags:
        title.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    title.append('No Data')
    
    
#SERIES
try:
    series_tags = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in series_tags:
        series.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    series.append('No Data')
    
    
#PLACE
try:
    place_tags = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in place_tags:
        place.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    place.append('No Data')
    
    
#DATE
try:
    date_tags = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in date_tags:
        date.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    date.append('No Data')
    
    
#TIME
try:
    time_tags = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time_tags:
        time.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    time.append('No Data')

In [76]:
print(len(title),len(series),len(place),len(date),len(time))

13 13 13 13 13

In [77]:
fixtures = pd.DataFrame({'Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
fixtures

,Title,Series,Place,Date,Time
0,3rd T20I -,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium,",1 FEB 2023,7:00 PM IST
1,5th T20I -,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,"Buffalo Park,",2 FEB 2023,6:30 PM IST
2,1st Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
3,1st T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",12 FEB 2023,6:30 PM IST
4,2nd T20I -,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",15 FEB 2023,6:30 PM IST
5,2nd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
6,3rd T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",18 FEB 2023,6:30 PM IST
7,4th T20I -,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",20 FEB 2023,6:30 PM IST
8,3rd Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM IST
9,4th Test -,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
10,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
11,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
12,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

------------------------------------------------------------------------------------------------------------------------------

QUESTION 3

In [100]:
driver.get("http://statisticstimes.com/")

In [101]:
from selenium.webdriver.common.action_chains import ActionChains

In [102]:
ActionChains(driver).move_to_element(driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")).context_click().perform()
ActionChains(driver).move_to_element(driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")).click().perform()

In [103]:
gdp_page = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_page.click()

In [108]:
rank = []
state = []
gsdp1819 = []
gsdp1920 = []
share = []
gdp = []

In [109]:
#RANK
try:
    rank_tags = driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rank_tags[0:33]:
        rank.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    rank.append('No Data')
    
    
#STATE
try:
    state_tags = driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state_tags[0:33]:
        state.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    state.append('No Data')
    
    
#GSDP (18-19)
try:
    gsdp1819_tags = driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gsdp1819_tags[0:33]:
        gsdp1819.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gsdp1819.append('No Data')
    
    
#GSDP (19-20)
try:
    gsdp1920_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in gsdp1920_tags[0:162:5]:
        gsdp1920.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gsdp1920.append('No Data')
    
    
#SHARE
try:
    share_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in share_tags[1:163:5]:
        share.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    share.append('No Data')
    
    
#GDP
try:
    gdp_tags = driver.find_elements(By.XPATH,'//td[@class="data"]')
    for i in gdp_tags[2:164:5]:
        gdp.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    gdp.append('No Data')

In [110]:
print(len(rank),len(state),len(gsdp1819),len(gsdp1920),len(share),len(gdp))

33 33 33 33 33 33

In [112]:
indian_states_gdp = pd.DataFrame({'RANK':rank,'STATE':state,'GSDP (18-19)':gsdp1819,'GSDP (19-20)':gsdp1920,'SHARE':share,'GDP':gdp})
indian_states_gdp

   RANK                      STATE GSDP (18-19) GSDP (19-20)   SHARE      GDP
0     1                Maharashtra    2,632,792            -  13.94%  399.921
1     2                 Tamil Nadu    1,630,208    1,845,853   8.63%  247.629
2     3              Uttar Pradesh    1,584,764    1,687,818   8.39%  240.726
3     4                    Gujarat    1,502,899            -   7.96%  228.290
4     5                  Karnataka    1,493,127    1,631,977   7.91%  226.806
5     6                West Bengal    1,089,898    1,253,832   5.77%  165.556
6     7                  Rajasthan      942,586    1,020,989   4.99%  143.179
7     8             Andhra Pradesh      862,957      972,782   4.57%  131.083
8     9                  Telangana      861,031      969,604   4.56%  130.791
9    10             Madhya Pradesh      809,592      906,672   4.29%  122.977
10   11                     Kerala      781,653            -   4.14%  118.733
11   12                      Delhi      774,870      856,112   4.10%  117.703
12   13                    Haryana      734,163      831,610   3.89%  111.519
13   14                      Bihar      530,363      611,804   2.81%   80.562
14   15                     Punjab      526,376      574,760   2.79%   79.957
15   16                     Odisha      487,805      521,275   2.58%   74.098
16   17                      Assam      315,881            -   1.67%   47.982
17   18               Chhattisgarh      304,063      329,180   1.61%   46.187
18   19                  Jharkhand      297,204      328,598   1.57%   45.145
19   20                Uttarakhand      245,895            -   1.30%   37.351
20   21            Jammu & Kashmir      155,956            -   0.83%   23.690
21   22           Himachal Pradesh      153,845      165,472   0.81%   23.369
22   23                        Goa       73,170       80,449   0.39%   11.115
23   24                    Tripura       49,845       55,984   0.26%    7.571
24   25                 Chandigarh       42,114            -   0.22%    6.397
25   26                 Puducherry       34,433       38,253   0.18%    5.230
26   27                  Meghalaya       33,481       36,572   0.18%    5.086
27   28                     Sikkim       28,723       32,496   0.15%    4.363
28   29                    Manipur       27,870       31,790   0.15%    4.233
29   30                   Nagaland       27,283            -   0.14%    4.144
30   31          Arunachal Pradesh       24,603            -   0.13%    3.737
31   32                    Mizoram       22,287       26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands            -            -       -        -

-------------------------------------------------------------------------------------------------------------------------------

QUESTION 4

In [114]:
driver.get("https://github.com/")

In [115]:
menu = driver.find_element(By.XPATH,'//button[@class="js-details-target Button--link Button--medium Button d-lg-none color-fg-inherit p-1"]')
menu.click()

In [117]:
open_source = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()

In [118]:
trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending.click()

In [119]:
title = []
description = []
count = []
language = []

In [120]:
#REPOSITORY TITLE
try:
    title_tags = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    title.append('No Data')
    
    
#REPOSITORY DESCRIPTION
try:
    description_tags = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in description_tags:
        description.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    description.append('No Data')
    
    
#CONTRIBUTER COUNT
try:
    count_tags = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
    for i in count_tags[1::2]:
        count.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    count.append('No Data')
    

#LANGUAGE USED
try:
    lang_tags = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in lang_tags:
        language.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    language.append('No Data')

In [123]:
print(len(title),len(description),len(count),len(language))

25 25 25 25

In [126]:
repositories = pd.DataFrame({'Repository Title':title,'Repositary Description':description,'Contributor Count':count,'Language Used':language})
repositories

,Repository Title,Repositary Description,Contributor Count,Language Used
0,AzeemIdrisi / PhoneSploit-Pro,An all-in-one hacking tool to remotely exploit...,292,Python
1,fathyb / carbonyl,Chromium running inside your terminal,98,Rust
2,bregman-arie / devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","8,450",Python
3,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,560,Python
4,paperless-ngx / paperless-ngx,A community-supported supercharged version of ...,332,Python
5,jlevy / the-art-of-command-line,"Master the command line, in one page","12,898",-
6,iluwatar / java-design-patterns,Design patterns implemented in Java,"24,552",Java
7,localsend / localsend,An open source cross-platform alternative to A...,135,Dart
8,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"43,170",Java
9,papers-we-love / papers-we-love,Papers from the computer science community to ...,"5,087",Shell
10,excalidraw / excalidraw,Virtual whiteboard for sketching hand-drawn li...,"3,409",TypeScript
11,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","8,498",Python
12,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,"3,227",Python
13,go-kratos / kratos,Your ultimate Go microservices framework for t...,"3,720",Go
14,tauri-apps / tauri,"Build smaller, faster, and more secure desktop...","1,527",Rust
15,ant-design / ant-design,An enterprise-class UI design language and Rea...,"37,979",TypeScript
16,ahmedbahaaeldin / From-0-to-Research-Scientist...,Detailed and tailored guide for undergraduate ...,522,-
17,lucidrains / musiclm-pytorch,"Implementation of MusicLM, Google's new SOTA m...",30,Python
18,promptslab / Promptify,Prompt Engineering | Use GPT or other prompt b...,26,Python
19,alist-org / alist,🗂️A file list program that supports multiple s...,"2,535",Go
20,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,"1,255",TypeScript
21,forrestchang / readpilot,Read Pilot analyzes online articles and genera...,29,TypeScript
22,AmazingAng / WTF-Solidity,我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，...,862,Solidity
23,lencx / ChatGPT,"🔮 ChatGPT Desktop Application (Mac, Windows an...",570,Rust
24,flipped-aurora / gin-vue-admin,"基于vite+vue3+gin搭建的开发基础平台（支持TS,JS混用），集成jwt鉴权，权限...","4,677",Go

------------------------------------------------------------------------------------------------------------------------------

QUESTION 5

In [129]:
driver.get("https://www.billboard.com/")

In [131]:
charts = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
charts.click()

In [133]:
top100 = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
top100.click()

In [161]:
song = []
artist = []
lwrank = []
peak = []
weeks = []

In [162]:
#SONG NAME
try:
    song_tags = driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
    for i in song_tags[6:404:4]:
        song.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    song.append('No Data')
    
    
#ARTIST NAME
try:
    artist_tags_m = driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    artist.append(artist_tags_m.text)
    artist_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_tags:
        artist.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    artist.append('No Data')
    
    
#LAST WEEK RANK
try:
    lwrank_tags_m = driver.find_element(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    lwrank.append(lwrank_tags_m.text)
    lwrank_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in lwrank_tags[0:590:6]:
        lwrank.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    lwrank.append('No Data')
    


#PEAK RANK
try:
    peak_tags_m = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in peak_tags_m[1:2]:
        peak.append(i.text)
    peak_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in peak_tags[1:591:6]:
        peak.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    peak.append('No Data')
    
    
#WEEKS ON BOARD
try:
    weeks_tags_m = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in weeks_tags_m[2:3]:
        weeks.append(i.text)
    weeks_tags = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in weeks_tags[2:592:6]:
        weeks.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    weeks.append('No Data')

In [163]:
print(len(song),len(artist),len(lwrank),len(peak),len(weeks))

100 100 100 100 100

In [165]:
billboard_top_100 = pd.DataFrame({'SONG NAME':song,'ARTIST':artist,'LAST WEEK RANK':lwrank,'PEAK RANK':peak,'WEEKS ON BOARD':weeks})
billboard_top_100

,SONG NAME,ARTIST,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Flowers,Miley Cyrus,1,1,2
1,Kill Bill,SZA,2,2,7
2,Anti-Hero,Taylor Swift,3,1,14
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again,NLE Choppa & 2Rare,-,96,1
96,Miss You,Oliver Tree & Robin Schulz,96,84,9
97,Back End,Finesse2Tymes,-,98,1
98,Open Arms,SZA Featuring Travis Scott,89,54,6
99,Spit In My Face!,ThxSoMch,-,100,1

--------------------------------------------------------------------------------------------------------------------------------

QUESTION 6

In [166]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [171]:
book = []
author = []
sale = []
publisher = []
genre = []

In [172]:
#BOOK NAME
try:
    book_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in book_tags[1::5]:
        book.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    book.append('No Data')
    
    
#AUTHOR NAME
try:
    author_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in author_tags[2::5]:
        author.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    author.append('No Data')
    
    
#VOLUME SALES
try:
    sale_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in sale_tags[3::5]:
        sale.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    sale.append('No Data')
    
    
    
#PUBLISHER NAME
try:
    publisher_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
    for i in publisher_tags[4::5]:
        publisher.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    publisher.append('No Data')
    
    
    
#GENRE
try:
    genre_tags = driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    genre.append('No Data')

In [173]:
print(len(book),len(author),len(sale),len(publisher),len(genre))

100 100 100 100 100

In [174]:
bestsellers = pd.DataFrame({'BOOK NAME':book,'AUTHOR':author,'SALE':sale,'PUBLISHER':publisher,'GENRE':genre})
bestsellers

,BOOK NAME,AUTHOR,SALE,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

-------------------------------------------------------------------------------------------------------------------------------

QUESTION 7

In [177]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [208]:
name = []
year = []
genre = []
runtime = []
rating = []
votes = []

In [209]:
#TV SHOW NAME
try:
    name_tags = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in name_tags:
        name.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    name.append('No Data')
    
year = [i.split('(')[1] for i in name]
year = [i.split(')')[0] for i in year]
name = [i.split('.')[1] for i in name]
name = [i.split('(')[0] for i in name]
    
  
    
#TV SHOW GENRE
try:
    genre_tags = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre_tags:
        genre.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    genre.append('No Data')
    
    
#RUNTIME
try:
    runtime_tags = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in runtime_tags:
        runtime.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    runtime.append('No Data')
    
    
#TV SHOW RATING
try:
    rating_tags = driver.find_elements(By.XPATH,'//span[@class="ipl-rating-star__rating"]')
    for i in rating_tags[0:2280:23]:
        rating.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    rating.append('No Data')
    
    
#VOTES
try:
    votes_tags = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in votes_tags:
        votes.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    votes.append('No Data')

In [210]:
print(len(name),len(year),len(genre),len(runtime),len(rating),len(votes))

100 100 100 100 100 100

In [211]:
most_watched_tv_shows = pd.DataFrame({'TV SHOW NAME':name,'YEAR SPAN':year,'GENRE':genre,'RUNTIME':runtime,'RATING':rating,'VOTES':votes})
most_watched_tv_shows

,TV SHOW NAME,YEAR SPAN,GENRE,RUNTIME,RATING,VOTES
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,117,219"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,206,404"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,003,575"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"296,465"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"255,390"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,656"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"62,518"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"202,175"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,972"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"249,883"

-----------------------------------------------------------------------------------------------------------------------------

QUESTION 8

In [212]:
driver.get("https://archive.ics.uci.edu/")

In [214]:
view_all = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]")
view_all.click()

In [221]:
name = []
dtype = []
task = []
atype = []
instances = []
attributes = []
year = []

In [222]:
#DATASET NAME
try:
    name_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in name_tags[8:4357:7]:
        name.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    name.append('No Data')
    
    
#DATASET TYPE
try:
    dtype_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in dtype_tags[9:4358:7]:
        dtype.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    dtype.append('No Data')
    
    
#TASK
try:
    task_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in task_tags[10:4359:7]:
        task.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    task.append('No Data')
    
    
#ATTRIBUTE TYPE
try:
    atype_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in atype_tags[11:4360:7]:
        atype.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    atype.append('No Data')
    
    
#INSTANCES
try:
    instances_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in instances_tags[12:4361:7]:
        instances.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    instances.append('No Data')
    
    
#ATTRIBUTES
try:
    attributes_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in attributes_tags[13:4362:7]:
        attributes.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    attributes.append('No Data')
    
    
#YEAR
try:
    year_tags = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in year_tags[14:4363:7]:
        year.append(i.text)
        
except NoSuchElementException as e:
    print('Exception Raised: ',e)
    year.append('No Data')

In [223]:
print(len(name),len(dtype),len(task),len(atype),len(instances),len(attributes),len(year))

622 622 622 622 622 622 622

In [224]:
uci_datasets = pd.DataFrame({'Dataset Name':name,'Dataset Type':dtype,'Task':task,'Attribute Type':atype,'Instances':instances,'Attributes':attributes,'Year':year})
uci_datasets

,Dataset Name,Dataset Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

------------------------------------------------------------------------------------------------------------------------------